[include mainsail.cfg]

[mcu]
serial: /dev/ttyUSB0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 3000
max_z_velocity: 10
max_z_accel: 100

########################################
# Steppers
########################################

[stepper_x]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
microsteps: 16
rotation_distance: 40 # From Marlin 80 steps/mm, full steps per rotation is 200
endstop_pin: !PA15 
position_endstop: 0
position_max: 250
homing_speed: 60
#step_pulse_duration: 0.000002

[stepper_y]
step_pin: PE0
dir_pin: PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 40 # From Marlin 80 steps/mm
endstop_pin: !PA12
position_endstop: 0
position_max: 210
homing_speed: 60

[stepper_z]
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB8
microsteps: 16
rotation_distance: 8  # From Marlin 400 steps/mm
endstop_pin: probe:z_virtual_endstop
position_max: 200
position_min: -3


[tmc2209 stepper_x]
uart_pin: PA1
#tx_pin: PA1
uart_address: 0
run_current: 0.800
interpolate: True
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PA1
#tx_pin: PA1
uart_address: 1
run_current: 0.800
interpolate: True
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PA1
#tx_pin: PA1
uart_address: 2
run_current: 0.800
interpolate: True
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: PA1
#tx_pin: PA1
uart_address: 3
run_current: 0.650
interpolate: True
stealthchop_threshold: 999999

########################################
# BLTouch
########################################

[bltouch]
sensor_pin: ^PC4
control_pin: PB2
x_offset: 37
y_offset: -20
#z_offset: 1.137
speed: 5.0
samples: 3
sample_retract_dist: 5.0
# --- Fix for the "Failed to verify" error ---
pin_up_touch_mode_reports_triggered: False
pin_up_reports_not_triggered: True

[safe_z_home]
home_xy_position: 88, 125 # Centers the probe on the bed (125-37, 105+20)
speed: 50
z_hop: 10
z_hop_speed: 10

########################################
# Extruder (BMG Style)
########################################

[extruder]
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
microsteps: 16
rotation_distance: 7.625 # Calculated from your Marlin 419.65 steps/mm
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC3
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC1
pressure_advance: 0.0


max_extrude_cross_section: 5.0 
#control: pid
#pid_Kp: 15.36
#pid_Ki: 1.16
#pid_Kd: 50.68
min_temp: 0
max_temp: 275
min_extrude_temp: 120

########################################
# Bed
########################################

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0

control: pid
pid_Kp: 26.38
pid_Ki: 5.07
pid_Kd: 91.44
min_temp: 0
max_temp: 110

########################################
# Filament Sensor
########################################

[filament_switch_sensor runout]
pause_on_runout: True
switch_pin: !PA2 # Typically PA2 on FB4S, Marlin says State HIGH
runout_gcode: M600

########################################
# Fans & Misc
########################################

[fan]
pin: PB1

[heater_fan hotend_fan] 
pin: PB0
heater: extruder 
heater_temp: 70.0 
fan_speed: 0.9


#[controller_fan driver_fan]
#pin: J10
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 0.5
#stepper: stepper_x


[virtual_sdcard]
path: /home/yeraly/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[gcode_arcs]
resolution: 0.5


[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 40, 20      # Рассчитано: офсет X + запас, офсет Y + запас
mesh_max: 210, 180    # Рассчитано: 250-40, 210-30
probe_count: 5, 5     # Сетка 5х5 (25 точек)
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[exclude_object]
# Всё работает со значениями по умолчанию

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    
    M220 S100 # Сброс скорости
    M221 S100 # Сброс потока
    G90 # Абсолютные координаты
    M82 # Абсолютное экструдирование
    
    M140 S{BED_TEMP} # Начать нагрев стола
    G28 # Хоминг (автоматически поедет в центр из-за safe_z_home)
    G1 Z2 F1500 # Поднять Z
    G92 E0 # Сброс экструдера
    
    M190 S{BED_TEMP} # Ждать стол
    BED_MESH_PROFILE LOAD=default

    
    M104 S{EXTRUDER_TEMP} # Начать нагрев сопла
    M109 S{EXTRUDER_TEMP} # Ждать сопла
    
    # Твоя линия очистки
    G1 X75 Y5 F5000 # Стартовая позиция
    G1 Z0.28 F1500 # Опустить Z
    G1 E4 F500 # Выдавить каплю
    G1 X180 E10 F500 # 1-я линия
    G1 Y5.4 F5000 # Сдвиг по Y
    G1 X75 E20 F500 # 2-я линия
    
    G1 Z2 F1500 # Поднять Z
    G92 E0 # Сброс экструдера

[gcode_macro END_PRINT]
gcode:
    G91 # Относительные координаты
    G1 E-6 F3000 # Откат (retract)
    G1 Z10 F1500 # Поднять сопло на 10мм
    G1 X5 Y5 F3000 # wipe
    G90 # Абсолютные координаты
    
    G1 X0 Y200 F2000 # Подать стол вперед (к пользователю)
    
    M104 S0 # Выкл сопло
    M140 S0 # Выкл стол
    M107 # Выкл обдув
    G4 P1000 # Ждать 1 сек (в Клиппере P - миллисекунды)
    M84 # Выкл моторы

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-2 F2700 # Небольшой откат
    G1 Z10 F1500 # Поднять голову
    G90
    G1 X0 Y0 F5000 # Уехать в угол, чтобы не капать на деталь

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    RESTORE_GCODE_STATE NAME=PAUSE_state
    G91
    G1 E2 F2700 # Вернуть филамент
    G90
    BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    END_PRINT
    BASE_CANCEL_PRINT

# Макрос для смены филамента (М600)
[gcode_macro M600]
gcode:
    PAUSE

[gcode_macro PREHEAT_PLA]
description: Нагрев для PLA (210/60)
gcode:
    M140 S60         # Установить температуру стола
    M104 S210        # Установить температуру сопла
    M117 Heating PLA...

[gcode_macro PREHEAT_PETG]
description: Нагрев для PETG (240/70)
gcode:
    M140 S70
    M104 S240
    M117 Heating PETG...

[gcode_macro BED_MESH_SAVE]
description: Calibrate bed mesh and save
gcode:
    G28
    BED_MESH_CALIBRATE
    SAVE_CONFIG

[bed_screws]
screw1: 23, 23
screw1_name: front_left
screw2: 223, 23
screw2_name: front_right
screw3: 223, 188
screw3_name: back_right
screw4: 23, 188
screw4_name: back_left
speed: 150

[gcode_macro MANUAL_LEVEL]
description: Ручная калибровка стола по 4 точкам
gcode:
    G28
    BED_SCREWS_ADJUST

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.790
#*# pid_ki = 0.937
#*# pid_kd = 126.656
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.026667, 0.007500, -0.017500, 0.045000, 0.056667
#*# 	-0.041667, 0.015833, 0.020833, 0.055833, 0.061667
#*# 	-0.013333, -0.012500, 0.021667, 0.042500, 0.025000
#*# 	0.020000, 0.051667, 0.032500, 0.027500, 0.025833
#*# 	0.036667, 0.025833, 0.030000, 0.044167, 0.028333
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 210.0
#*# min_y = 20.0
#*# max_y = 180.0
#*#
#*# [bltouch]
#*# z_offset = 0.788
